body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 20px;
}

.header {
	text-align: center;
	padding: 10px;
	background-color: #333;
	color: #fff;
	margin-bottom: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th, td {
	padding: 10px;
	text-align: left;
	border: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
}

.section-title {
	background-color: #e9ecef;
	padding: 10px;
	font-weight: bold;
	border: 1px solid #ddd;
	margin-bottom: -1px;
	/* Remove the space between section title and table */
}

.section-title>#btn-member-add {
	padding: 10px;
	border: none;
	background-color: #dcdcdc;
	color: #333;
	cursor: pointer;
	border-radius: 4px;
	margin-left: 10px;
}

.rt_page {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: none;
	justify-content: center;
	align-items: center;
}

.rt_page_body {
	position: relative;
	background-color: white;
	width: 30%;
	height: 50%;
	text-align: center;
	margin: 0 auto;
}

.rt_page_body>#btn_close_rt_page {
	position: absolute;
	right: 20px;
	top: 20px;
	padding: 10px;
	border: none;
	background-color: #dcdcdc;
	color: #333;
	cursor: pointer;
	border-radius: 4px;
}

.rt_page_body>#btn_rt {
	padding: 10px;
	border: none;
	background-color: #dcdcdc;
	color: #333;
	cursor: pointer;
	border-radius: 4px;
}

.search-box {
	margin: 10px 0;
	display: flex;
	flex-wrap: wrap;
}

.search-group {
	display: flex;
	margin-right: 20px;
	margin-bottom: 10px;
}

.search-group input[type="text"] {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 200px;
}

.search-group button {
	padding: 10px;
	border: none;
	background-color: #dcdcdc;
	color: #333;
	cursor: pointer;
	border-radius: 4px;
	margin-left: 10px;
}

form button {
	padding: 10px;
	border: none;
	background-color: #dcdcdc;
	color: #333;
	cursor: pointer;
	border-radius: 4px;
	margin-left: 10px;
}

.search-group button:hover {
	background-color: #bbb;
}

/* 만들려고 하는 연체 현황 조회의 modal css(아직 구현X)*/
.overdue-modal {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}

.overdue-modal-body {
	width: 60%;
	height: 80%;
	background-color: white;
	position: relative;
	text-align: center;
	margin-top: 50px;
}

.overdue-modal-content {
	position: relative;
	margin: 0 auto;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.stop-modal {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}

.stop-modal-body {
	width: 60%;
	height: 80%;
	background-color: white;
	position: relative;
	text-align: center;
	margin-top: 50px;
}

.stop-modal-content {
	position: relative;
	margin: 0 auto;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.stop-cancel-modal {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}

.stop-cancel-modal-body {
	width: 60%;
	height: 80%;
	background-color: white;
	position: relative;
	text-align: center;
	margin-top: 50px;
}

.stop-cancel-modal-content {
	position: relative;
	margin: 0 auto;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}